.nav-item {
  font-family: 'Righteous', cursive;
  font-size: 1.3rem;
  color: black;
}
.navbar-brand {
  font-family: 'Righteous', cursive;
  font-size: 1.5rem;
  font-weight: bold;
}

body {
    background-color: #ffff;

}
h1 {
  text-align: center;
  color: white;
  font-family: 'Domine', serif;
  font-size: 4rem;
  font-weight: bold;
  padding-bottom: 5px;
}
.intro-p {
  font-family: 'Righteous', cursive;
  font-size: 2.3rem;
}
.d-flex {
  margin-left: auto;
}
.display-4 {
  padding-top: 10px;
}
.intro-container {
  background-image: url('title-art.JPG');
  text-align: center;
  color: white;
  padding-bottom: 20px;
  font-size: 2rem;
}
.cybericon {
  margin: 50px;
  width: 300px;
  height: 300px;
  padding-bottom: 10px;
}

.banksy {
text-align: center;
height: 20px;
font-style: italic;
font-size: 1.5rem;
padding-bottom: 40px;


}
.quote {
  text-align: center;
  font-weight: bold;
}
@media (max-width:575.98px) {

.quote {
  width: 150px;
  padding-bottom: 40px;
}
.banksy {
  margin-bottom: 90px;
}
.list-group {
  position: relative;
    width: 300px;
    margin: 300px 300px;
}
.incident-cap {
    margin: auto;
    height: 150px;
    padding-top: 60px;
    width: 90%;
  }
  .sql-cap {
      margin: auto;
      height: 150px;
      width: 95%;
      padding-top: 30px;
  }
  .key-cap {
      margin: auto;
      height: 150px;
      width: 95%;
      padding-top: 30px;
  }

}



.indy {
  opacity: 70%;
  border-radius: 10%;
}
@media (max-width:768px) {
  .quote {
    width: 150px;
    padding-bottom: 40px;
  }
  .banksy {
    margin-bottom: 90px;
  }

}

@media (max-width:992px) {
  .quote {
    width: 150px;
    padding-bottom: 40px;
  }
  .banksy {
    margin-bottom: 90px;
  }

}

/* End of media query  */














.skillz {
  color: black;
  height: 700px;
}

.about-me {
  background-image: url('Blockchain-art.JPG');
  padding-bottom: 40px;

}

.lead {
  color: white;
  font-weight: bold;
  padding-top: 30px;
}
.AOI {
  color: white;
}

.h1skills {
  color: black;
  padding-bottom: 60px;
}
.skills1 {

}
.Program {
  position: absolute;
  right:5%;
  padding-right: 30px;
  padding-top: 15px;

}
h3 {
font-family: 'Domine', serif;
font-size: 2rem;
font-weight: bold;
padding-bottom: 20px;

}

.col-sm-4 {
  font-family: 'Righteous', cursive;
  font-size: 1.3rem;
  padding-left: 40px;
}

.sql{
  margin: auto;
  height: 250px;
  padding-top: 60px;
}
.incident{
  margin: auto;
  height: 250px;
  padding-top: 60px;
}
.incident-cap{
  margin: auto;
  height: 170px;
  padding-top: 30px;
}
.port-cap {
  margin: auto;
  height: 170px;
  padding-top: 30px;
}
.sql-cap {
    margin: auto;
    height: 170px;
    padding-top: 30px;
}
.key-cap {
    margin: auto;
    height: 170px;
    padding-top: 30px;
}

.py1{
  margin: auto;
  height: 250px;
  padding-top: 60px;
}
.py2{
  margin: auto;
  height: 250px;
  padding-top: 60px;
}
.proj {
  color: black;
  font-size: 5rem;
  font-weight:bold;
  font-family: 'Merriweather Sans', sans-serif;

}
.live {
  color: black;
}

ul {
    list-style: none;
    display: flex;
    margin-bottom: 0
}

.social-icon {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    border-radius: 7px;
    margin-right: 11px;
    cursor: pointer
}
.projects {
  background-image: url('Projects.JPG');
  height: 700px;
}
.h1project {
  padding-top: 20px;
}

.carousel-item {
    height: 450px;
    margin: auto;
    border-radius: 10%;

}



.social-linkedin {
    background-color: #0077B5
}

.social-google {
    background-color: #dd4b39
}
.fa {
  text-decoration: none;
  color: white;
}

.social-instagram {
    background-color: #dd4b39
}

.social-icon i {
    transition: 0.4s all
}

.social-icon:hover i {
    transform: scale(1.1)
}
